.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.main-title {
    text-align: center;
}

.label {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-bottom: 20px;
}

.link {
    margin: 20px auto;
}

.galley-title {
    text-align: center;
}

.img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-item {
    max-width: 200px;
    max-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.img-gal {
    max-width: 100%;
    height: 100%;
}

.img-size {
    margin-bottom: 5px;
}

.img-time {
    font-size: 12px;
    margin-bottom: 5px;
}

.done {
    text-align: center;
    border-radius: 15px;
    color: white;
    background-color: green;
    padding: 10px;
    margin: 10px auto;
}

.error {
    text-align: center;
    border-radius: 15px;
    color: white;
    background-color: red;
    padding: 10px;
    margin: 10px auto;
}